{% extends 'base.html' %}
{% load static %}

{% block title %} Sign in {% endblock %}

{% block content %}
    <div class="page_signin_container">
        <div class="page_signin_left">
            <a href="{% url 'homepage' %}">
               <img src="{% static 'images/logo1.png' %}" alt="Homepage">
            </a>
            <div class="container">
                <form method="POST" action="" class="form_basic">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
{#                        <label for="exampleInputEmail1" class="form-label">Email address</label>#}
{#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
{#                    <div class="mb-3">#}
{#                        <label for="exampleInputPassword1" class="form-label">Password</label>#}
{#                        <input type="password" class="form-control" id="exampleInputPassword1">#}
{#                    </div>#}
                    <p><a href="#" class="btn btn-link forgot_password button_link">Forgot password</a></p>
                    <div class="container_vertical_center">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="container_bottom">
                <p>Don't have an account? <a class="button_link" href="{% url 'sign_up' %}" class="btn btn-link">Create one</a></p>
            </div>
        </div>

        <div class="page_signin_right">
        </div>
    </div>
{% endblock %}
