{% load static %}

<div class="nav">
    <a id="homepage-button" href="{% url 'homepage' %}">
        <img src="{% static 'images/logo1.png' %}" alt="Homepage">
    </a>

    <div class="sign_in">
        {#       <button type="submit" class="signin-button">Sign In</button>#}
        {% if request.user.is_authenticated %}
            <a class="signin-button" href="{% url 'logout' %}" role="button">Sign out</a>
        {% else %}
            <a class="signin-button" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}
    </div>
</div>

