{% extends 'base.html' %}
{% load static %}


{% block content %}
        <div class="all-photo-container" id="filtered-photos">
            {% for photo in photos %}
                <div class="photo-item"
                     data-room="{{ photo.room.room_option}}"
                     data-style="{{ photo.style.style_option }}"
                     data-color="{{ photo.color.color_option }}">
                    <img src="{{ photo.image.url }}" alt="test">
                </div>
            {% endfor %}
        </div>
{% endblock %}