@import url('https://fonts.googleapis.com/css?family=Inter');

.nav img{
    height: 40px;
    margin-left: 64px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-content: center;
    width: 100dvw;
    z-index: 2;
}

.background{
    background-image: url("/static/images/background.63a1ba3ef3d3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;

}

body{
    padding: 0px;
    margin: 0px;
}

.sign_in{
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.signin-button{
    background-color: rgba(0,0,0,0.6);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 6px;
    border: none;
    color: white;
    font-family: Inter;
    font-size: 12pt;
    height: auto;
    text-decoration: none;
}

.main_content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;


}


.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: right;


}

.subtitle {
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 16pt;
    font-weight: lighter;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
}

.title {
    font-family: GT, Roboto;
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    color: white;
    font-size:100pt ;
    font-weight: bolder;
    height: fit-content;
    pointer-events: none;
    user-select: none;

}
.btn.btn-primary {
    background-color: black;
    border-color: transparent;
    font-family: Inter;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.cta_div {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: Inter;
    font-size: 12pt;
}

.page_signin_container{
    display: flex;
}

.page_signin_right {
    background-image: url("/static/images/background.63a1ba3ef3d3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100dvh;
    width: 50dvw;
    display: flex;
}

.page_signin_left {
    height: 100dvh;
    width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 64px;
}

.form_basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    width:400px;
}

.container_vertical_center {
    display: flex;
    justify-content: center;
}

.forgot_password {
    text-align: right;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.container_bottom {
    display: flex;
    justify-content: center;
    height: 24px;
}

.button_link {
    text-decoration: none;

}

.page_signup_container{
    display: flex;
}

.page_signup_right {
    background-image: url("/static/images/background.63a1ba3ef3d3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100dvh;
    width: 50dvw;
    display: flex;
}

.page_signup_left {
    height: 100dvh;
    width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 64px;
}

.page_inspiration_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.selection_container {
    padding: 72px 64px;
    padding-bottom:32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.inspiration-photo-container{
    display: flex;
}


.all-photo-container {
    padding-left: 64px;
    padding-right: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 32px; /* Adjust the gap between images */
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
}


.photo-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.interactive {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: -10;

}


